includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/nunomaduro/larastan/extension.neon
parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/views
    ignoreErrors:
        - message: "#Dynamic call to static method#"
        - message: "#Short ternary operator is not allowed#"
